<h1>Salut! Confirme ton adresse mail :)</h1>

<p>
    Confirme ton adresse mail en cliquant sur ce lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt!!
</p>
